body{
    background-color: #000000;
    color:#00AA00;
    font-family: "Press Start 2P", system-ui;
}

#body-info-section{
    margin: 20px;
}

a{
    color:#00AA00;
}

a.hover{
    color: #C0C0C0 !important;
}

mark{
    background-color: #C0C0C0;
}

.navbar-brand, .nav-link {
    color: #00AA00;
}

.navbar-brand{
    margin-left: 2%;
}

#floating-gif{
    width: 30px;
    height: auto;
    margin-right:5px;
}

#my-icon{
    width: 300px ;
    height: auto;
    margin-top: 5%;
}

#my-elevator-pitch{
    font-size: larger;
    margin-top: 2%;
    margin-bottom: 4%;
}

#body-description{
    margin-top: auto;
}

#experience-btn{
    border-radius: 5px;
    background-color: black;
    color: #00AA00;
    font-family: monospace;
    margin-top: 2%;
}

#experience-btn:hover{
    background-color: #C0C0C0;
}

#experience-section{
    width:90%;
    height: auto;
    margin: auto;
    border: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 2%;
    background-color: #C0C0C0;
    word-wrap: break-word;
}

.typed-cursor{
    color: black;
}

#experience-note{
    margin: auto;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace !important;
    color: #C0C0C0;
    font-size: small;
}

#experience-title{
    margin-bottom: 1%;
}

#education-btn{
    border-radius: 5px;
    background-color: black;
    color: #00AA00;
    font-family: monospace;
    margin-top: 2%;
}

#education-btn:hover{
    background-color: #C0C0C0;
}

#education-section{
    width:90%;
    height: auto;
    margin: auto;
    border: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 2%;
    background-color: #C0C0C0;
    word-wrap: break-word;
}

#education-note{
    margin: auto;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace !important;
    color: #C0C0C0;
    font-size: small;
}

#education-title{
    margin-bottom: 1%;
}

#skills-btn{
    border-radius: 5px;
    background-color: black;
    color: #00AA00;
    font-family: monospace;
    margin-top: 2%;
}

#skills-btn:hover{
    background-color: #C0C0C0;
}

#skills-section{
    width:90%;
    height: auto;
    margin: auto;
    border: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 2%;
    background-color: #C0C0C0;
    word-wrap: break-word;
}

#skills-note{
    margin: auto;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace !important;
    color: #C0C0C0;
    font-size: small;
}

#skills-title{
    margin-bottom: 1%;
}

#contacts-btn{
    border-radius: 5px;
    background-color: black;
    color: #00AA00;
    font-family: monospace;
    margin: auto;
    margin-top:3%;
}

#contacts-btn:hover{
    background-color: #C0C0C0;
}

#projects-btn:hover{
    background-color: #C0C0C0;
}

#projects-display{
    margin: auto;
    margin-top: 2%;
}

#render-project{
    text-align: center;
    border: soild;
}

#testimonials-title{
    margin-top: 2%;
}

#project-title{
    background-color: #00AA00;
    color:black;
    width: 95%;
    padding: auto;
}

#project-desc{
    text-align: center;
    width: 95%;
    margin-top: 10%;
    color: #C0C0C0;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}